.about {
  height: 100vh;
}

.about-header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.about-header-left-img {
}

.about-header-left-img img {
}

.about-header-right {
  width: 35rem;
}

.about-header-right h1 {
  background: linear-gradient(270.9deg, var(--secondaryColor1) -4.12%, rgba(43, 69, 165, 0) 135.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  backdrop-filter: blur(2px);
  margin-bottom: 0.5rem;
}

.about-header-right h3 {
  color: var(--primaryColor2);
  margin-bottom: 0.5rem;
}

.about-header-right p {
  color: var(--primaryColor2);
}

.radial-bg1::before {
  left: -60%;
}

/* ----------- history section ----------- */

.story {
  height: 50vh;
}

.story-container {
  display: grid;
  grid-template-columns: 65% 35%;
  height: 100%;
  gap: 3rem;
}

.story-left {
}

.story-right {
  display: flex;
  justify-content: flex-end;
}

.story-right img {
  width: 25rem;
}

.story-text {
  text-align: left;
  gap: 2rem;
}

.story-text h3 {
  line-height: 2rem;
  margin-bottom: 2.5rem;
  font-size: 1.4rem;
  color: var(--primaryColor1);
}

.story .radial-bg1::before {
  background: linear-gradient(83.21deg, pink 0%, lavender 100%);
  left: 55%;
}

/* ----------- card section ----------- */

.objective {
  height: 30rem;
  margin: 7rem 0 12rem 0;
}

.objective-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  /* background: lavender; */
  border-radius: 16px;
  padding: 1.5rem;
  text-align: left;
  overflow: hidden;
}

.values {
  background: #edf0f5;
}

.values h4 {
  color: var(--primaryColor1);
}

.values p {
  color: var(--primaryColor2);
}

.vision {
  background: #dee1f0;
}

.vision h4 {
  color: var(--primaryColor1);
}

.vision p {
  color: var(--primaryColor2);
}

.mission {
  background: #1C1C1E;
}

.mission h4 {
  color: #fff;
}

.mission p {
  color: #999999;
}

.card h4 {
  margin-bottom: 1rem;
  /* color: var(--primaryColor1); */
}

.card p {
  margin-bottom: 2rem;
  /* color: var(--primaryColor2); */
}

/* ----------- partner section ----------- */
.partner {
  height: 25rem;
}

.partner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.partner-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 45rem;
  text-align: center;
}

.partner-title {
  color: var(--primaryColor1);
  /* border-bottom: 2px solid #000; */
}

.partner-subtitle {
  color: var(--primaryColor2);
}

.partner-box {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  width: 50rem;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.partner-box img {
  width: 8rem;
}

/* ----------- media query (tablet) ----------- */
@media screen and (max-width: 1024px) {
  .about-header-container {
    gap: 2.5rem;
  }

  .about-header-left-img {
  }

  .about-header-right {
    width: 24rem;
  }

  /* ----------- history section ----------- */
  .story {
    height: auto;
    padding-top: 5rem 0 0 0;
  }

  .story-container {
    grid-template-columns: 55% 45%;
  }

  .story-right img {
    width: 20rem;
  }

  .story-text {
    gap: 1rem;
  }

  .story-text h3 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
  }

  /* ----------- card section ----------- */
  .objective {
    height: auto;
    margin: 5rem 0 6rem 0;
  }

  .objective-container {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 35rem;
  }

  .card h4,
  .card p {
    width: 25rem;
  }

  .card h4 {
    font-size: 1.5rem;
  }

  .card img {
    width: 20rem;
  }
  
  /* ----------- partner section ----------- */
  .partner {
    height: auto;
    margin: 0 0 5rem 0;
  }

  .partner-container {
    gap: 1rem;
  }

  .partner-box img {
    width: 6rem;
  }

  .partner-box {
    width: 45rem;
  }
}

/* ----------- media query (phone) ----------- */
@media screen and (max-width: 600px) {
  .about {
    height: auto;
    padding-top: 6rem;
  }

  .about-header-container {
    grid-template-columns: 1fr;
    justify-content: center;
    place-items: center;
    gap: 1.5rem;
    width: 100%;
  }

  .about-header-left {
    order: 2;
    width: var(--container-width-sm);
    display: flex;
    justify-content: center;
  }

  .about-header-left img {
    width: 21rem;
  }

  .about-header-right {
    width: 99%;
    text-align: center;
    width: var(--container-width-sm);
  }

  /* ----------- history section ----------- */
  .story {
    padding: 6rem 0;
  }

  .story-container {
    grid-template-columns: 1fr;
    place-items: center;
    width: 100%;
  }

  .story-left {
    width: var(--container-width-sm);
  }

  .story-right {
    display: none;
  }

  /* ----------- card section ----------- */
  .objective {
    margin: 1rem 0 4rem 0;
  }

  .card {
    width: var(--container-width-sm);
  }

  .card p {
    width: 100%;
  }

  /* ----------- partner section ----------- */
  .partner {
    margin: 7rem 0;
  }

  .partner-text,
  .partner-box {
    width: var(--container-width-sm);
  }
  
  /* .partner-subtitle { */
  /*   width: 25rem; */
  /* } */


  .partner-box img {
    width: 5rem;
  }

}

