@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  /* outline: 0; */
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* outline: 1px solid blue; */

}

:root {
  --primaryColor1: #5E5E5E;
  --primaryColor2: #898F9A;
  --primaryColor3: #B5B5B5;

  --secondaryColor1: #8499E7;
  --secondaryColor2: #A9B8EE;
  --secondaryColor3: #CED6F5;

  --bgColor1: #F5F5F7; /* or F1F1F1 */
  --bgColor2: #CED6F5;

  --primaryFont: 'Poppins', sans-serif;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
}

body {
  scroll-behavior: smooth;
  background-color: var(--bgColor1);
  font-family: var(--primaryFont);
  overflow-x: hidden;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  /* padding: 6rem 0; */
}

h1,h2,h3,h4,h5 {
  line-height: 1.2;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

a {
  color: #fff;
}

/* ----------- navigation bar ----------- */

nav {
  /* width: 100vw; */
  width: 100%;
  height: 5rem;
  position: fixed;
  padding: 1rem;
  top: 0;
  z-index: 50;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 0.3rem;
}

.logo img {
  width: 2.5rem;
}

.navbar .nav-menu {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.25rem;
  gap: 2rem;
}

.nav-menu a {
  font-size: 1rem;
  transition: all 400ms ease;
  color: var(--primaryColor2);
}

.nav-menu a:hover {
  color: var(--primaryColor1);
  font-weight: 700;
}

/* hide on normal screen size */
#menu-login {
  display: none;
  /* visibility: hidden; */
}

nav button {
  display: none;
  /* visibility: hidden; */
}

.nav-extra {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.3s ease;
  color: var(--primaryColor2);
}

.nav-extra ion-icon {
  font-size: 1.2rem;
}

#add-pad {
  padding: 0.8rem 1.25rem;
}

.nav-extra:hover {
  background: var(--secondaryColor3);
  color: var(--bgColor1);
}

.nav-box {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

/* ----------- hero section ----------- */

header {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.radial-bg1 {
  position: relative;
}

.radial-bg1::before {
  z-index: -1;
  content: "";

  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 70%;
  width: 80%;

  background: linear-gradient(83.21deg, var(--secondaryColor2) 0%, var(--secondaryColor1) 100%);

  background-blend-mode: overlay;

  -webkit-mask-image: radial-gradient(
    rgba(0, 0, 0, 1),
    transparent 70%
    );
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

/* .header-left { */
/*   width: 30rem; */
/*   background: cyan; */
/* } */

.header-left h1 {
  line-height: 1;
  color: var(--primaryColor1);
}

.header-left h1 span {
  background: linear-gradient(272.49deg, #8499E7 -19.2%, rgba(43, 69, 165, 0) 108.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  backdrop-filter: blur(2px);
}

.header-left p {
  margin: 1rem 0 2.4rem;
  color: var(--primaryColor2);
}

.header-right-img img {
  width: 33rem;
  height: 35rem;
}

/* ----------- intro section ----------- */

.intro {
  background-color: var(--bgColor2);
  height: 55rem; /* or you can change it to 100vh */
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.intro-text {
  text-align: center;
  margin-bottom: -5rem;
}

.intro-title h1 {
  color: var(--bgColor1);
  margin-bottom: 1rem;
}

.intro-text h4 {
  color: var(--primaryColor2);
}

.intro-img img {
  width: 31rem;
}

/* ----------- intro vid section ----------- */

.intro-vid {
  height: 50rem;
  /* background: lightsalmon; */
}

.intro-vid-container {
  display: grid;
  grid-template-columns: 1fr 63% 1rem;
  place-items: center;
  height: 100%;
}

.intro-vid-text {
  padding: 1.5rem;
  margin-right: -7rem;
  line-height: 61px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.intro-vid-frame {
  z-index: 1;
}

.intro-vid-deco {
  position: relative;
  bottom: 19%;
  z-index: 3;
}

.intro-vid-iframe {
  display: grid;
  place-items: center;
  width: 50rem;
  height: 30rem;
  padding: 2.15rem;
}

.intro-vid-iframe iframe {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.intro-vid-title {
  color: var(--primaryColor1);
}

.intro-vid-subtitle {
  color: var(--primaryColor3);
}

.intro-vid-subtitle h3 span {
  color: var(--secondaryColor1);
}

.intro-vid-deco img {
  width: 15rem;
}

.intro-vid > .radial-bg1::before {
  left: 10%;
  bottom: 25%;
  width: 80%;
  height: 90%;
  background: linear-gradient(83.21deg, var(--secondaryColor1) 0%, var(--secondaryColor3) 100%);
}

/* ----------- community section ----------- */

.community-container {
  text-align: center;
  overflow-x: hidden;
  position: relative;
  margin-bottom: 7rem;
}

.testimonial {
  padding-top: 2rem;
  margin-bottom: 4rem;
  background: rgba(169, 184, 238, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(5px); */
  /* -webkit-backdrop-filter: blur(5px); */
  /* border: 1px solid rgba(255, 255, 255, 0.3); */

}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
}

.avatar img {
  width: 100%;
}

.testimonial-info h5 {
  color: var(--primaryColor1);
}

.testimonial-info small {
  color: var(--primaryColor2);
}

.testimonial-body {
  position :relative;
  padding: 2rem;
  color: var(--primaryColor2);
}

.community-header {
  margin-bottom: 2rem;
  color: var(--primaryColor1);
}

.community-header h4 {
  font-size: 1.2rem;
  color: var(--primaryColor3);
}

/* .swiper-wrapper { */
/*   padding: 2rem; */
/* } */

#swiper-navBtn {
  margin-top: -0.5rem;
  color: var(--secondaryColor2);
  transition: color 0.3s ease;
  /* to move inwards or outwards change the width */
}

#swiper-navBtn:hover {
  color: var(--secondaryColor1);
}

#swiper-navBtn::before,
#swiper-navBtn::after {
  font-size: 2rem;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--secondaryColor2);
  opacity: 1;
}

span.swiper-pagination-bullet {
  width: 1.5rem;
  border-radius: 10px;
}


/* ----------- footer section ----------- */

.footer {
  background: var(--secondaryColor3);
  padding-top: 5rem;
}

.footer h4 {
  color: var(--bgColor1);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer-header {
  grid-column: 1 / 5;
  text-align: left;
  color: var(--bgColor1);
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.footer-container > div h4 {
  margin-bottom: 0.7rem;
}

.footer ul li {
  line-height: 1.7rem;
}

.footer a {
  color: var(--primaryColor2);
  transition: all 250ms ease;
}

.footer a:hover {
  color: var(--bgColor1);
}

.footer-foot {
  grid-column: 1 / 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primaryColor2);
  padding-bottom: 1.2rem;
}

.notice {
  display: flex;
  gap: 2.5rem;
}

/* .copyright { */
/*   margin-right: 2.5rem; */
/* } */

.copyright span {
  color: var(--bgColor1);
}

.policies {
  display: flex;
  gap: 1rem;
}

.socials-link {
  display: flex;
  gap: 1.5rem;
}

.socials-link ion-icon {
  width: 1.2rem;
  height: 1.2rem;
}


/* ----------- media query (tablet) ----------- */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  /* ----------- navbar section ----------- */
  /* hide sign in btn */
  .acc-login,
  .nav-extra {
    display: none;
  }

  /* #menu-login { */
  /*   display: inline-block; */
  /* } */

  .navbar {
    position: relative;
  }

  nav button {
    position: absolute;
    right: 0.7rem;
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--primaryColor1);
    cursor: pointer;
    /* visibility: visible; */
  }

  nav button#close-menu-btn {
    display: none;
  }

  /* .nav-box { */
  /*   display: none; */
  /* } */

  .nav-menu {
    position: fixed;
    justify-content: center;
    padding: min(30vh, 10rem) 2em;
    inset: 0 0 0 30%;
    border-radius: 1px;
    flex-direction: column;
    background: hsl( 0 0% 100% / 0.5);
    backdrop-filter: blur(1rem);
    visibility: hidden;
    /* transition: animateNavItems 350ms ease-out; */
  }

  .nav-menu li {
    width: 100%;
    animation: animateNavItems 1s ease-in-out;
  }

  .nav-menu li:nth-child(2) {
    animation: animateNavItems 2s ease-in-out;
  }

  .nav-menu li:nth-child(3) {
    animation: animateNavItems 2s ease-in-out;
  }

  .nav-menu li:nth-child(4) {
    animation: animateNavItems 2s ease-in-out;
  }

  .nav-menu li:nth-child(5) {
    animation: animateNavItems 2s ease-in-out;
  }

  @keyframes animateNavItems {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .nav-menu li a {
    width: 100%;
    height: 100%;
  }

  /* ----------- hero section ----------- */

  header {
    height: 100%;
  }

  .header-container {
    gap: 0.5;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  /* change the circle blur gradient size here */
  .ellipse-1 {
    width: 450px;
    height: 450px;
  }

  .header-right-img img {
    width: 25rem;
    height: 27rem;
  }

  /* ----------- intro section ----------- */

  .intro {
    height: auto;
  }

  .intro-container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }

  .intro-img img {
    width: 27rem;
  }

  /* ----------- intro vid section ----------- */

  .intro-vid {
    height: auto;
  }

  .intro-vid-container {
    grid-template-columns: 1fr 65% 1rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .intro-vid-text {
    padding: 0.8rem;
    margin-right: -4rem;
  }

  .intro-vid-deco {
    bottom: 25%;
  }

  .intro-vid-deco img {
    width: 12.5rem;
  }

  .intro-vid-iframe {
    width: 40rem;
    height: 25rem;
  } 

  /* ----------- footer section ----------- */

  .footer-container {
    grid-template-columns: 1fr 1fr; 
    gap: 4rem;
  }

  .footer-header,
  .footer-foot {
    grid-column: 1 / 3;
  }
}


/* ----------- media query (phone) ----------- */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
    overflow-x: hidden;
  }

  /* ----------- navbar section ----------- */
  nav {
    width: 100vw;
  }

  .nav-menu {
    margin-bottom: 1rem;
    height: 100vh;
  }

  /* temp solution to make nav menu center */

  /* ----------- hero section ----------- */

  header {
    height: 100%; /* or vh (?) */
  }

  /*
  fixed issue of weird white line:
  caused by container not filling the entire width of the page

  used a higher specificity to force only header
  to have a width of 100%
  */
  header .header-container {
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
    margin-top: 0;
    padding-bottom: 3.5rem;
    width: 100%;
  }

  .header-left,
  .header-right {
    width: var(--container-width-sm);
  }

  .header-left p {
    margin-bottom: -2rem;
  }

  .header-right-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-right-img img {
    width: 20rem;
    height: 23rem;
  }

  /* .radial-bg1 { */
  /*   overflow-x: hidden; */
  /* } */

  /* ----------- intro section ----------- */

  .intro-text {
    margin-bottom: -3rem;
  }

  .intro-text br {
    display: none;
  }

  .intro-subtitle {
    margin-top: 1rem;
  }

  .intro-img img {
    width: 22rem;
  }

  /* ----------- intro vid section ----------- */


  .intro-vid-container {
    grid-template-columns: 1fr;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 8rem;
    width: 100%;
  }

  .intro-vid-text {
    width: 22rem;
    margin-top: -1rem;
    margin-right: 0;
    text-align: center; 
    background: none;
    border-radius: 0;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
  }
  
  .intro-vid-subtitle br {
    display: none;
  }

  .intro-vid-deco {
    top: -12.5%;
    left: 36%;
  }

  .intro-vid-deco img {
    width: 9rem;
  }

  .intro-vid-iframe {
    margin-top: -12rem;
    width: 25rem;
    height: 18rem;
  }

  .intro-vid-item:nth-child(1) {
    order: 1;
  }

  .intro-vid-item:nth-child(2) {
    order: 3;
  }

  .intro-vid-item:nth-child(3) {
    order: 2;
  }

  /* ----------- community section ----------- */

  .testimonial-body {
    padding: 1.2rem;
  }

  /* ----------- footer section ----------- */

  .footer-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .footer-header {
    grid-column: 1 / 2;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
  }

  .footer-foot {
    grid-column: 1 / 2;
    flex-direction: column;
    justify-content: center;
    padding-top: 3.5rem;
  }

  .notice {
    flex-direction: column;
  }

  .policies {
    margin-top: -1rem; 
    justify-content: center;
  }

  .socials-link {
    margin-top: 2rem;
  }

}
